# webhook injector specs
export INJECTOR_NAMESPACE_NAME="injectors"
export INJECTOR_LABEL="cyberark-sidecar-injector"

# Sidecar manifest specs
export INJECTED_NAMESPACE_NAME="injtest"
export INJECTED_SERVICEACCOUNT_NAME="k8s-appserver"
export INJECTED_APP_NAME="test-app-injected"
export INJECTED_CONTAINER_MODE="sidecar"
export INJECTED_CONTAINER_TYPE=authenticator
export INJECTED_CONTAINER_NAME=injected

# DAP service connection/authentication specs
export CONJUR_APPLIANCE_URL=$FOLLOWER_SERVICE_NAME
export CONJUR_AUTHN_URL="$CONJUR_APPLIANCE_URL/api/authn-k8s/${AUTHENTICATOR_ID}"
export CONJUR_AUTHN_LOGIN=host/conjur/authn-k8s/${AUTHENTICATOR_ID}/apps/${INJECTED_NAMESPACE_NAME}/service_account/${INJECTED_SERVICEACCOUNT_NAME}
