# build container
export DEMO_IMAGE=dotnetdemo
export DEMO_CONTAINER=dotnet
export DEMO_DIR=/demo

# local demo app source code
export SRC_DIR=./src
export SRC_FILES="$(ls $SRC_DIR)"

# demo parameters
export CONJUR_MASTER_HOSTNAME=conjur-master-mac
export CONJUR_MASTER_HOST_IP=192.168.68.111
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME
export CONJUR_ACCOUNT=dev
export CONJUR_AUTHN_LOGIN=host/client/node
export CONJUR_AUTHN_API_KEY=2460d5v8g17kg3e1x7h53mtv9hn3adeyvt526fnp3kvsz91555w4s
export CONJUR_IGNORE_UNTRUSTED_SSL=yes
