source ../config/dap.config

# Java demo configuration parameters
						# Conjur host authn creds 
export CONJUR_AUTHN_LOGIN=host/client/node
export CONJUR_AUTHN_API_KEY=3khf0pb3dk1ct729jm94a2k7hh9s304nmew2cfthfc1p2wged2sxq3zm
export CONJUR_VAR_ID=DemoVault/CICD/CICD_Secrets/Database-Oracle-OracleDBuser/password

# Java keystore parameters
export JAVA_KEY_STORE_FILE=./conjur.jks
export JAVA_KEY_STORE_PASSWORD=changeit

# Conjur connection URL & account
export CONJUR_APPLIANCE_URL=https://conjur-master
export CONJUR_ACCOUNT=dev

# Human user login w/ password - commented out in java code
export CONJUR_USER=admin
export CONJUR_ADMIN_PASSWORD=$(sudo summon -p keyring.py --yaml 'xx: !var app/one' bash -c "echo \$xx")
