# Java demo configuration parameters
export CONJUR_MASTER_HOST_NAME=conjur-master-mac
export CONJUR_MASTER_HOST_IP=192.168.68.111
export CONJUR_MASTER_PORT=443
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export CONJUR_ACCOUNT=dev

# Overrides above variables for dap demo environment
source ../config/dap.config

# Conjur host authn creds 
export CONJUR_AUTHN_LOGIN=host/java_client/node1
export CONJUR_AUTHN_API_KEY=2kb1hjb14dfx6c2cfsjwf1qvhfb11xdj4j828b3q0g37s7cdn2jpd0bn
export CONJUR_VAR_ID=secrets/db-password

# Java keystore parameters
export JAVA_KEY_STORE_FILE=./conjur.jks
export JAVA_KEY_STORE_PASSWORD=changeit
