# PAS Connection params
export PAS_IIS_SERVER_IP=192.168.2.133
export PAS_ADMIN_NAME=Admin1
export PAS_ADMIN_PASSWORD=$(keyring get pas adminpwd);
# DAP master addresses
export AZURE_PUB_DNS=conjurmaster2.northcentralus.cloudapp.azure.com
export AZURE_PUB_IP=168.62.244.231
export LOCAL_DNS=conjur-master-vbx:30443

# DAP Connection params
export CONJUR_APPLIANCE_URL=https://$AZURE_PUB_DNS
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_USERNAME=admin
export CONJUR_ADMIN_PASSWORD=$(keyring get conjur adminpwd);

# Access request record
export ACCESS_REQUEST_JSON_FILE=$PWD/access-request.json
