export CONJUR_ACCOUNT=dev
export CONJUR_MASTER_HOST_NAME=conjur-master
export CONJUR_MASTER_HOST_IP=192.168.99.100
export CONJUR_MASTER_PORT=30443
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export CLI_IMAGE_NAME=cyberark/conjur-cli:5-latest
export DEMO_CLIENT=demo-client

check_env_var() {
  var_name=$1
  if [ "${!var_name}" = "" ]; then
    echo "You must set $1 before running these scripts."
    exit 1
  fi
}
